<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trackgymprogress">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackGymProgress"
        android:windowSoftInputMode="stateHidden">
        <activity
            android:name=".EditExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".AddExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".ExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".EditExerciseTypeActivity"
            android:exported="false" />
        <activity
            android:name=".AddExerciseTypeActivity"
            android:exported="false" />
        <activity
            android:name=".ExerciseTypeActivity"
            android:exported="false" />
        <activity
            android:name=".AddMuscleActivity"
            android:exported="false" />
        <activity
            android:name=".EditMuscleActivity"
            android:exported="false" />
        <activity
            android:name=".WorkoutMuscleActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>